<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{repository.owner_name}}/{{repository.name}}</h1>
                </div>
                <div class="col-sm-6 text-right hidden-xs">

                    <div class="inline text-left">
                        <div class="m-b-xs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">

                <div class="col-md-6 p-l-xs p-r-xs">
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light">
                          <h2 class="panel-title">Repository Data</h2>
                        </div>
                        <div class="panel-body b-b b-light">
                          <form role="form">

                            <div class="form-group">
                              <label>Namespace</label>
                              <select class="form-control" name="owner_name" ng-model="repository.owner_name" required="required">
                                <option ng-repeat="namespace in globals.availableNamespaces()" value="{{namespace}}">{{namespace}}</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" ng-model="repository.name" required="required" class="form-control"/>
                            </div>

                            <div class="form-group">
                              <label>Git URL</label>
                              <input type="url" name="source_code_url" ng-model="repository.source_code_url" required="required" class="form-control"/>
                            </div>

                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="public" ng-model="repository.public" required="required"/>
                                Public
                              </label>
                            </div>
                          </form>
                        </div>
                    </div>
                    <div class="panel b-a">
                        <div class="panel-body b-b b-light">
                          <button ng-click="save()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <!-- info stats -->
                <div class="col-md-6 p-l-xs p-r-xs">
                  <div class="panel b-a">
                      <div class="panel-heading b-b b-light">
                        <h2 class="panel-title">Repository Tags</h2>
                      </div>
                      <div class="panel-body b-b b-light" ng-repeat="tag in repository.repository_tags" ng-if="!tag._destroy">
                        <form role="form">

                          <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" ng-model="tag.name" required="required" class="form-control"/>
                          </div>

                          <div class="form-group">
                            <label>Reference</label>
                            <input type="text" name="reference" ng-model="tag.reference" required="required" class="form-control"/>
                          </div>

                          <div class="form-group">
                            <label>Docker File Path</label>
                            <input type="text" name="docker_file_path" ng-model="tag.docker_file_path" required="required" class="form-control"/>
                          </div>
                          <a href ng-click="removeRepositoryTag($index)"><i class="fa fa-minus"></i></a>
                        </form>
                      </div>
                      <div class="panel-body b-b b-light">
                        <a href ng-click="addRepositoryTag()"><i class="fa fa-plus"></i></a>
                      </div>
                  </div>
                </div>
                <!-- / info stats -->
            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
