<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{repository.owner_name}}/{{repository.name}}</h1>
                </div>
                <div class="col-sm-6 text-right hidden-xs">

                    <div class="inline text-left">
                        <a
                          ui-sref="app.repository_edit({owner: repository.owner_name, name: repository.name})"
                          class="btn btn-primary"
                          ng-if="canEdit()"
                          >
                          Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">

                <div class="col-md-4 p-l-xs p-r-xs">
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light">
                          <h2 class="panel-title">Repository Data</h2>
                        </div>
                        <table class="table table-striped">
                          <tr>
                            <th>Git URL</th>
                            <td>{{repository.source_code_url}}</td>
                          </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 p-l-xs p-r-xs">
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light">
                          <h3 class="panel-title">Builds</h3>
                        </div>
                        <table class="table table-striped">
                          <tr>
                            <th>Status</th>
                            <th>ID</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Logs</th>
                          <tr>
                          <tr ng-repeat="build in repository.builds | orderBy:'-start'">
                            <td><span class="label label-{{build | statusBadgeClass}}">{{build.state}}</span></td>
                            <td>{{build.id}}</td>
                            <td>{{build.start}}</td>
                            <td>{{build.end}}</td>
                            <td><a href="/repos/{{repository.owner_name}}/{{repository.name}}/builds/{{build.id}}/logs">Logs</a></td>
                          </tr>
                        </table>
                    </div>
                </div>

                <!-- info stats -->
                <div class="col-md-6 p-l-xs p-r-xs">
                </div>
                <!-- / info stats -->
            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
