<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Marina</h1>
                </div>
                <div class="col-sm-6 text-right hidden-xs">

                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">

                <div class="col-md-12 p-l-xs p-r-xs">
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light">
                          <h2 class="panel-title">Repositories</h2>
                        </div>
                        <table class="table">
                          <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Last build</th>
                            <th>Last successful build</th>
                            <th>Details</th>
                          <tr>
                          <tr ng-repeat="repository in repositories | orderBy:'name'">
                            <td><span class="label label-{{globals.lastBuild(repository) | statusBadgeClass}}">&nbsp;</span></td>
                            <td>{{repository.owner_name}}/{{repository.name}}</td>
                            <td><span am-time-ago="globals.lastBuild(repository).end"></span></td>
                            <td><span am-time-ago="globals.lastSuccessfulBuild(repository).end"></span></td>
                            <td><a href="/repos/{{repository.owner_name}}/{{repository.name}}">Details...</a></td>
                          </tr>
                        </table>
                    </div>
                </div>

                <!-- info stats -->
                <div class="col-md-6 p-l-xs p-r-xs">
                </div>
                <!-- / info stats -->
            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
