<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Marina</h1>
                    <small class="text-muted">Welcome to your Marina dashboard!</small>
                </div>
                <div class="col-sm-6 text-right hidden-xs">

                    <div class="inline text-left">
                        <!--div class="m-b-xs">
                            30,000 <span class="text-muted">successful builds</span></div-->
                    </div>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">

                <div class="col-md-6 p-l-xs p-r-xs" ng-repeat="(namespace, stats) in dashboard_data">
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light">
                          <h2 class="panel-title"><a ui-sref='app.repository_list({owner: namespace})'>{{namespace}}</a></h2>
                        </div>
                        <div class="panel-body b-b b-light">
                          <p>
                            <p><strong>Builds</strong></p>
                            <p>
                                <span ng-repeat="(label, count) in stats.build_count">{{label}}: {{count}} &nbsp;</span>
                            </p>
                          <p>
                        </div>
                        <div class="panel-body b-b b-light">
                        </div>
                    </div>
                </div>

            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
