<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{profile_user.name}}</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">

                <div class="col-md-12 p-l-xs p-r-xs">
                    <h3>Organizations</h3>
                    <p ng-repeat="organization in profile_user.organizations">
                      {{organization.name}} ({{organization.role}})
                    </p>
                    <p><a ui-sref="app.organization_new">Create Organization</a></p>
                </div>

                <!-- info stats -->
                <div class="col-md-6 p-l-xs p-r-xs">
                </div>
                <!-- / info stats -->
            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
